div.dialog4react-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 2147483647;
}
div.dialog4react-container {
    max-width: 600px;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 16px 16px;
}
h1.dialog4react-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0 0 16px 0;
    font-size: 2em;
}
p.dialog4react-text {
    margin: 16px 0 24px 0;
    font-size: 1.5em;
    text-align: center;
}
div.dialog4react-button-container {
    display: flex;
    justify-content: space-around;
}
button.dialog4react-confirm, button.dialog4react-cancel {
    border-radius: 0;
    outline: 0;
    font-size: 1em;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
button.dialog4react-confirm {
    color: #00970d;
    border-color: #00970d;
    background-color: black;
}
button.dialog4react-confirm:hover {
    color: #58ff69;
    border-color: #58ff69;
}
button.dialog4react-cancel {
    color: #942613;
    border-color: #942613;
    background-color: black;
}
button.dialog4react-cancel:hover {
    color: #ff1414;
    border-color: #ff1414;
}